tr, td, th{
    border: 2px black solid;
    padding: 0em;
}

.title:hover, .title:hover a{
    background-color: rosybrown;
    font-weight: bold;
}

tbody tr {
    line-height: 40px;
}

.list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
}

.check-genres {

}